body, #root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navBar {
  display: flex;
  background-color: #FFFFFF;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}