body, #root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navBar {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* OTHER NAVBAR DESIGN COMPONENTS */

.navBar-contents {
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 97%;
  padding-right: 1%;
}

.navBar-contents-p1 {
  display: flex;
  margin: 20px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.navBar-contents-p1 img {
  width: 120px;
}

.navBar-contents-p2 {
  display: flex;
  align-items: center;
}

.navBar-contents-p2 ul {
  display: flex;
  gap: 3.75rem;
  list-style: none;
}

.nav-BranchName {
  background-color: #1E1E1E;
  color: #FFFFFF;
  padding: 0px 20px 0px 20px;
  border-radius: 20px 20px 20px 0;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar-contents-p2-mobile {
  display: none;
}

/* BREAKPOINTS */

/* Small Screens (mobile) */
@media (max-width: 767px) {
  .navBar-contents-p2 {
    display: none;
  }

  .navBar-contents-p2-mobile {
    display: flex;
  }
}

